<!--This is a test mock Android Manifest file used by Robolectric tests-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rakuten.tech.mobile.inappmessaging.runtime"
  android:versionCode="2"
  android:versionName="1.0">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <!--
  As of AGP 4.2.2, processDebugUnitTestManifest fails because manifest placeholders aren't substituted in unit tests:
  https://issuetracker.google.com/issues/187326576. Ticket says it should be fixed in next release (AGP 7+) but
  introduces project configuration/build issues so removing placeholders here as a workaround.
  -->
  <application>
    <meta-data
      android:name="com.rakuten.tech.mobile.inappmessaging.subscriptionkey"
      android:value="test_sub_key"/>

    <meta-data
      android:name="com.rakuten.tech.mobile.inappmessaging.debugging"
      android:value="true"/>

    <meta-data
      android:name="com.rakuten.tech.mobile.inappmessaging.configurl"
      android:value="test_config_url"/>
  </application>

</manifest>
