version: 2.1

orbs:
  android-sdk: rakutentech/android-sdk@0.2.0

jobs:
  integration-test:
    docker:
      - image: circleci/android@sha256:45eb47efaf498cdbf01b16e6a294ef20a4979f6acd6aaf75913707190806bb4c
    working_directory: ~/code
    environment:
      # from https://discuss.circleci.com/t/circle-ci-v2-and-android-memory-issues/11207
      JVM_OPTS: "-Xmx1024m -XX:+PrintFlagsFinal -XX:+PrintGCDetails"
      _JAVA_OPTIONS: "-Xmx1024m"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=1 -Dorg.gradle.parallel=false"
      JAVA_TOOL_OPTIONS: *java_tool_options
      HTTP_PROXY: http://pkg.proxy.prod.jp.local:10080
      HTTPS_PROXY: http://pkg.proxy.prod.jp.local:10080
    steps:
      - checkout
      - run: git submodule update --init
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - restore_cache:
          ## Robolectric uses maven to download sources, so we must use a different cache for maven
          key: *maven_cache_key
      - run:
          name: Run Tests
          command: ./gradlew clean testRelease --tests com.rakuten.tech.mobile.inappmessaging.runtime.integration.IntegrationSpec
      - save_cache:
          paths:
            - ~/.m2
          key: *maven_cache_key

workflows:
  version: 2.1
  build-and-release:
    jobs:
      - android-sdk/build:
          gradle-cache-key: >-
            gradle-
            {{ checksum "build.gradle" }}
            {{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            {{ checksum "inappmessaging/build.gradle" }}
          maven-cache-key: maven-{{ checksum "inappmessaging/src/test/AndroidManifest.xml" }}
          sdk-path: inappmessaging
          sample-app-path: test
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /.*/
      - release-verification:
          type: approval
          requires:
            - android-sdk/build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - android-sdk/publish:
          requires:
            - release-verification
          post-steps:
            - run:
                name: Publish Documentation
                command: |
                  set -e
                  ./gradlew generatePublishableDocs
                  if [[ ! $CIRCLE_TAG == *"-"* ]]; then
                    git checkout gh-pages
                    cp -R inappmessaging/build/publishableDocs/docs/. ./docs
                    cp -R inappmessaging/build/publishableDocs/_versions/. ./_versions
                    git add docs _versions
                    git config user.name "CI Publisher"
                    git config user.email "dev-opensource@mail.rakuten.com"
                    git commit -m "Publish documentation for $CIRCLE_TAG"
                    git push origin gh-pages
                  else
                    echo "Documentation not published for snapshot version"
                  fi
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  integration-test:
    triggers:
      - schedule:
          cron: "05 10 * * *"
          filters:
            branches:
              only:
                - feature/SDKCF-3110
    jobs:
      - integration-test
